/* Raleway Font */
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101010;
}

button {
    font-size: 1.1rem;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(121, 41, 196);
    color: white;
    font-weight: 300;
    border: none;
    padding: 15px 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    transition: 200ms;
}
button:hover {
    background-color: rgb(86, 30, 139);
}